// loader
.loader {
    background-color: #fff;
      bottom: 0;
      height: 100vh;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 999999;
      .loader-wrapper{
          position: absolute;
          width: 250px;
          top:50%;
          left:50%;
          transform: translate(-50%,-50%);
          text-align: center;
        
      }
  }



.site-header{
    position: fixed;
    top:0;
    left:0;
    height: 116px;
    width: 100%;
    z-index: 9;
    margin: 0 auto;
    z-index: 9999;
    
    @include breakpoint(small){
        height: 75px;
    }
    .header-container{
        width: 100%;
        padding: 15px;
        @media(max-width:1024px){
           padding: 10px;
        }
        @include breakpoint(small){
            padding: 6px;
        }
    }
    .header-wrapper{
        .logo-block{
            width: 210px;
            .logo-wrap{
                display: block;
                width: 100%;
                .logo-black{
                    display: none;
                }
            }
            @media (max-width: 1025px){
                width: 100px;
            }
        }
        .main-menu-wrap{
            width: calc(100% - 400px);
            display: flex;
            align-items: center;
            justify-content: flex-end ;
            @media(max-width:1024px){
                width: calc(100% - 140px);
            }
            .nav{
                ul {
                    li{
                        a{
                           color: $color-lightwhite;
                           font-size: $font-size-sm;
                           letter-spacing: .2em;
                           font-weight: 400;
                           font-weight: normal;
                           font-display: swap;
                           &:hover{
                               color :  rgba(255,255,255,.7);
                           }
                        }
                        .menu-active{
                            border-bottom:  1px solid rgba(255,255,255,.7);
                            color :  rgba(255,255,255,.7);
                        }
                    }
                 
                    &.social-wrap{
                        margin-left: 8px;
                        li{
                            padding: 0 4px;
                        }
                    }
                }
                .menu-main-menu-container{
                    ul.main-menu{
                    li{
                        padding: 0 5px;
                        a{
                            text-transform: uppercase;
                            &:hover{
                                border-bottom:  1px solid rgba(255,255,255,.7);
                            }
                        }
                        .menu-active{
                            border-bottom:  1px solid rgba(255,255,255,.7);
                        }
                    }
                }
            }
            }
        }
        .humburger-wrap{
            display: block;
            span{

            }
        }
    }
}


@media (max-width: 600px){
    .main-wrapper{
        display: none;
        position: fixed;
        top:0;
        background-color: #fff;
        left:0;
        width: 100%;
        height: 100vh;
        &.act{
            display: block;
        }
        .main-menu{
            display: block;
            text-align: center;
            padding: 100px 0 30px;
            position: relative;
            top: 50%;

            li{
                padding: 15px 10px !important;
                a{
                    color: #0ef !important;
                    font-size: 22px !important;
                    &:hover{
                        border-bottom: 1px solid #0ef !important;
                    }
                    &.menu-active{
                        color: #0ef !important; 
                        border-bottom: 1px solid #0ef !important;
                    }
                }
            }
        }
    }
    .menuBtn {
      height: 30px;
      width: 30px;
      position: relative;
      right: 0;
      top: 0;
      margin-left: 10px;
      z-index: 99999;
      > span {
        background-color: rgba(255,255,255,.7);
        border-radius: 1px;
        height: 2px;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -1px 0 0 -15px;
        transition: height 100ms;
        &:after, &:before {
          content: '';
          background-color: rgba(255,255,255,.7);
          border-radius: 1px;
          height: 2px;
          width: 100%;
          position: absolute;
          left: 50%;
          margin-left: -15px;
          transition: all 200ms;
        }
        &:after {
          top: -7px;
        }
        &:before {
          bottom: -7px;
        }
      }
      &.act {
        > span {
          height: 0;
          &:after, &:before {
            background-color: #0ef;
            top: 1px;
          }
          &:after {
            transform: rotate(45deg);
          }
          &:before {
            transform: rotate(-45deg);
          }
        }
      }
    }
}
.page-template-default main{
    padding-top: 130px;
}
.page-template-template-about,.page-template-template-contact,.error404,
.page-template-page-generic,.page-template-default
{
    .site-header .header-wrapper .main-menu-wrap .nav ul li a{
        color: rgba(0,0,0,.3);
        &:hover{
            color: rgba(0,0,0,.7);
        }
    }
    .site-header .header-wrapper .main-menu-wrap .nav ul.main-menu li a{
        &:hover{
            border-bottom:1px solid rgba(0,0,0,.7);
        }
    }
    
    .site-header .header-wrapper .main-menu-wrap .nav ul li a.menu-active{
        color: rgba(0,0,0,.7);
        border-bottom:1px solid rgba(0,0,0,.7);
    }
    .site-header .header-wrapper .logo-block .logo-wrap .logo-black{
        display: block;
    }
    .site-header .header-wrapper .logo-block .logo-wrap .logo-white{
        display: none;
    }
    .menuBtn {
        > span {
          background-color: rgba(0,0,0,.3);
          &:after, &:before {
            background-color: rgba(0,0,0,.3);
          }
        }
    }
}